In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
# import bs4/


# print(help(bs4))
url = "http://covid19.ncdc.gov.ng/"
 
def get_nigeria(url):
    request_ = requests.get(url).text
    soup = bs(request_, 'html.parser')
    tabel_ = soup.find('table', id='custom3').prettify()
    data = pd.read_html(tabel_)
    data = data[0]
    data.columns = ['States', 'Numbers', 'States', 'Numbers']
    data = data.iloc[:, 0:2].append(data.iloc[:, 2:4])
    data.dropna(inplace=True)
    
    return data
     
print(get_nigeria(url))

         States  Numbers
0     Abuja FCT      6.0
1       Adamawa      0.0
2       Anambra      0.0
3       Bayelsa      0.0
4         Borno      0.0
5         Delta      0.0
6         Enugu      0.0
7         Ekiti      1.0
8           Imo      0.0
9        Kaduna      0.0
10      Katsina      0.0
11         Kogi      0.0
12        Lagos     25.0
13        Niger      0.0
14         Ondo      0.0
15          Oyo      1.0
16       Rivers      0.0
17       Taraba      0.0
18      Zamfara      0.0
0          Abia      0.0
1     Akwa Ibom      0.0
2        Bauchi      0.0
3         Benue      0.0
4   Cross River      0.0
5        Ebonyi      0.0
6           Edo      1.0
7         Gombe      0.0
8        Jigawa      0.0
9          Kano      0.0
10        Kebbi      0.0
11        Kwara      0.0
12     Nasarawa      0.0
13         Ogun      2.0
14         Osun      0.0
15      Plateau      0.0
16       Sokoto      0.0
17         Yobe      0.0

In [2]:
coro_data = get_nigeria(url)

In [3]:
coro_data.columns

Index(['States', 'Numbers'], dtype='object')

In [4]:
coro_data.to_json(orient='records')

'[{"States":"Abuja FCT","Numbers":6.0},{"States":"Adamawa","Numbers":0.0},{"States":"Anambra","Numbers":0.0},{"States":"Bayelsa","Numbers":0.0},{"States":"Borno","Numbers":0.0},{"States":"Delta","Numbers":0.0},{"States":"Enugu","Numbers":0.0},{"States":"Ekiti","Numbers":1.0},{"States":"Imo","Numbers":0.0},{"States":"Kaduna","Numbers":0.0},{"States":"Katsina","Numbers":0.0},{"States":"Kogi","Numbers":0.0},{"States":"Lagos","Numbers":25.0},{"States":"Niger","Numbers":0.0},{"States":"Ondo","Numbers":0.0},{"States":"Oyo","Numbers":1.0},{"States":"Rivers","Numbers":0.0},{"States":"Taraba","Numbers":0.0},{"States":"Zamfara","Numbers":0.0},{"States":"Abia","Numbers":0.0},{"States":"Akwa Ibom","Numbers":0.0},{"States":"Bauchi","Numbers":0.0},{"States":"Benue","Numbers":0.0},{"States":"Cross River","Numbers":0.0},{"States":"Ebonyi","Numbers":0.0},{"States":"Edo","Numbers":1.0},{"States":"Gombe","Numbers":0.0},{"States":"Jigawa","Numbers":0.0},{"States":"Kano","Numbers":0.0},{"States":"Kebbi","Numbers":0.0},{"States":"Kwara","Numbers":0.0},{"States":"Nasarawa","Numbers":0.0},{"States":"Ogun","Numbers":2.0},{"States":"Osun","Numbers":0.0},{"States":"Plateau","Numbers":0.0},{"States":"Sokoto","Numbers":0.0},{"States":"Yobe","Numbers":0.0}]'

In [5]:
read_ = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-20-2020.csv")

In [6]:
read_.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-20T07:43:02,67800,3133,58382,30.9756,112.2707
1,NaN,Italy,2020-03-20T17:43:03,47021,4032,4440,41.8719,12.5674
2,NaN,Spain,2020-03-20T17:43:03,20410,1043,1588,40.4637,-3.7492
3,NaN,Germany,2020-03-20T20:13:15,19848,67,180,51.1657,10.4515
4,NaN,Iran,2020-03-20T15:13:21,19644,1433,6745,32.4279,53.6880

In [7]:
coro_data.columns = ['States', 'Confirmed']

In [8]:
read_[read_['Country/Region'] == "Nigeria"]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
212,NaN,Nigeria,2020-03-20T02:13:50,12,0,1,9.082,8.6753

In [13]:
# re = requests.get('http://www.geonames.org/countries/').text
# sq = bs(re, 'html.parser')

In [14]:
# table_cou = sq.find('table', id="countries").prettify()

In [15]:
# read_co = pd.read_html(table_cou)

In [16]:
# read_co[0].head()

In [17]:
# read_co[0].to_csv('countiesinthe world.csv', index=False)

In [18]:
countries = pd.read_csv('countiesinthe world.csv')

In [19]:
countries.head()

,ISO-3166 alpha2,ISO-3166 alpha3,ISO-3166 numeric,fips,Country,Capital,Area in km²,Population,Continent
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,84000,EU
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,4975593,AS
2,AF,AFG,4,AF,Afghanistan,Kabul,647500.0,29121286,AS
3,AG,ATG,28,AC,Antigua and Barbuda,St. John's,443.0,86754,NaN
4,AI,AIA,660,AV,Anguilla,The Valley,102.0,13254,NaN

In [20]:
countries_AF = countries[countries['Continent'] == "AF"]

In [21]:
countries_AF[countries_AF['Country'] == "Nigeria"]

,ISO-3166 alpha2,ISO-3166 alpha3,ISO-3166 numeric,fips,Country,Capital,Area in km²,Population,Continent
165,NG,NGA,566,NI,Nigeria,Abuja,923768.0,154000000,AF

In [22]:
countires_country = countries.Country

In [23]:
read_.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-20T07:43:02,67800,3133,58382,30.9756,112.2707
1,NaN,Italy,2020-03-20T17:43:03,47021,4032,4440,41.8719,12.5674
2,NaN,Spain,2020-03-20T17:43:03,20410,1043,1588,40.4637,-3.7492
3,NaN,Germany,2020-03-20T20:13:15,19848,67,180,51.1657,10.4515
4,NaN,Iran,2020-03-20T15:13:21,19644,1433,6745,32.4279,53.6880

In [24]:
west_africa = pd.read_csv('data.csv')

In [25]:
west_africa

             name     pop2020
0           Benin   12123.200
1    Burkina Faso   20903.273
2        Cameroon   26545.863
3      Cape Verde     555.987
4          Gambia    2416.668
5           Ghana   31072.940
6          Guinea   13132.795
7   Guinea-Bissau    1968.001
8     Ivory Coast   26378.274
9         Liberia    5057.681
10           Mali   20250.833
11     Mauritania    4649.658
12          Niger   24206.644
13        Nigeria  206139.589
14        Senegal   16743.927
15   Sierra Leone    7976.983
16           Togo    8278.724

In [26]:
cor_west_africa = read_[read_['Country/Region'].isin(west_africa['name'])]

In [27]:
cor_west_africa.columns = ['States', 'Country', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Latitude', 'Longitude']

In [28]:
cor_west_africa.head()

,States,Country,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
170,NaN,Burkina Faso,2020-03-20T15:13:21,40,1,0,12.2383,-1.5616
172,NaN,Senegal,2020-03-20T15:43:24,38,0,2,14.4974,-14.4524
187,NaN,Cameroon,2020-03-20T14:43:04,20,0,0,3.8480,11.5021
197,NaN,Ghana,2020-03-20T15:43:24,16,0,0,7.9465,-1.0232
212,NaN,Nigeria,2020-03-20T02:13:50,12,0,1,9.0820,8.6753

In [29]:
coro_data['Country'] = 'Nigeria'

In [30]:
affect_state_ng = coro_data[coro_data['Confirmed'] > 0]

In [31]:
affected = pd.concat([cor_west_africa, affect_state_ng])

/Users/parallelscore_0008/Documents/Neo4j/mvp/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [32]:
read_[read_['Country/Region']=='Benin']

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
250,NaN,Benin,2020-03-18T14:13:56,2,0,0,9.3077,2.3158

In [34]:
affected.Country.to_list()

['Burkina Faso',
 'Senegal',
 'Cameroon',
 'Ghana',
 'Nigeria',
 'Togo',
 'Benin',
 'Liberia',
 'Mauritania',
 'Guinea',
 'Niger',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria']